.about {
    margin: 10px;
} 

.meimg {
float: left;
width: 35%;
height: auto;
margin: 10px;
}

h1 {
    float: left;
    text-align: center;
    font-size: large;
}

.meText {
    float: left;
}

#name {
    color: #E2B4BD;
    font-size: x-large;
    font-family: cursive;
    font-weight: bold;
}

.navbar-brand {
    font-size: large;
    color: #e6e6e6;
}

#topNav{
    background-color: #3B464A;
    width: 100%;

}

#body {
    background-color: #9da9b3;
}
