#about {
    margin: 10px;
} 

.meimg {
max-width: 40%;
height: auto;
margin: 10px;
float: left;
padding: 10px;
}

h1 {
    text-align: center;
    font-size: large;
}

.meText {
    text-align: left;
    margin: 20px;
    padding: 10px;
}

#name {
    color: #E2B4BD;
    font-size: xx-large;
    font-family: cursive;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
text-align: left;
}

.navbar-brand {
    font-size: large;
    color: #e6e6e6;
    margin: 10px;
    text-align: right;
}

#topNav{
    background-color: #3B464A;
    width: 100%;
    padding: 20px;
}

#body {
    background-color: #9da9b3;
}

.sticky-top {
    text-align: center;
}

.container {
    padding: 20px;
    align-self: center;
    outline-width: 2px;
    
}

.card {
    margin: 10px;
    padding: 20px;
}

.card-header {
    border: #3b464a;
    background-color: #3b464a;
    color: #e6e6e6;
}

.form-group {
    background-color: #e6e6e6;
    padding: 20px;
}

.btn {
    margin: 10px;
    padding: 10px;
    background-color: #666F76;
}
.btn-primary {
border-color: #666F76;
}